<ul class="list-none gap-y-2 flex flex-col {{ listing_class }}">

    {% for item in items %}

      <li>
        <span class="font-bold {% if item.icon | default %}inline-flex gap-1 items-center{% endif %}">
          {% if item.icon | default %}<i class="ph ph-[phone-call] text-2xl"></i>{% endif %}
          {{ item.label }}</span>
        <br />
        {% if item.url | default %}
          <a href="{{ item.url }}">{{ item.value }}</a>
        {% else %}
          {{ item.value }}
        {% endif %}
        {% if item.secondary %}
          <ul class="list-none gap-y-2 flex flex-co">
            {% for item in item.secondary %}
              <li>
                {{ item.label }}:
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>

    {% endfor %}

  </ul>
