<div id="body" class="{{ wrapper_class | default }}">
  <div class="grid-template{% if sidebar_bottom is empty %} grid-template-three-item{% endif %}{% if below_hero is empty %} grid-template-no-image{% endif %}">
    <div class="sidebar">
      {{ sidebar }}
    </div>
    {% if  sidebar_bottom %}
      <div class="sidebar-bottom">
        {{ sidebar_bottom }}
      </div>
    {% endif %}
    <div class="hero" id="hero">
      {{ hero_section }}
    </div>
    <div class="content" id="content">
      {{ content }}
    </div>
  </div>
</div>
