<footer class="l-footer bg-primary-200">
  <div class="l-footer-top text-white bg-primary-800 pt-8 pb-10 md:py-8">
    <div class="container">
      <div class="grid grid-cols-12 gap-6">

          <div class="col-span-12 md:col-span-6 mb-4">
            {% if social %}
              <span class="font-bold block md:inline-block align-top mb-2 md:mb-0 md:mr-4">Connect with us:</span>
              {% include '@components/utils/social-media/social-media.twig' %}
            {% endif %}
          </div>

        <div class="col-span-12 md:col-span-6 md:text-right mb-11 md:mb-0">
          <ul class="menu flex gap-x-3 list-none md:justify-end">
            <li><a class="button" href="#">Apply Now</a></li>
            <li><a class="button secondary" href="#">Take Virtual Tour</a></li>
          </ul>
        </div>

        <div class="col-span-12 md:col-span-3 mb-12 md:mb-0 md:text-left">
          {% if logo %}
            <div class="mb-4">
              {% include '@components/logo/logo.twig' with logo %}
            </div>
          {% endif %}
          <ul class="list-none space-y-5 flex flex-col">
            <li>
              <span class="icon icon-phone-call text-2xl md:text-[32px] align-middle mr-2"></span>
              <span class="font-bold">Phone</span>
              <span>123-456-7889</span>
            </li>
            <li>
              <span class="icon icon-map-pin-line text-2xl md:text-[32px] align-middle mr-2"></span>
              <span class="font-bold"><a href="#">Get Directions</a></span>
            </li>
            <li>
              <span class="icon icon-at text-2xl md:text-[32px] align-middle mr-2"></span>
              <span class="font-bold">Email</span>
              <span><a href="mailto:info@mightyuniversitey.edu">info@mightyuniversity.edu</a></span>
            </li>
          </ul>
        </div>

        {% if menu %}
          {% set menu_item_col_size = (menu|length in [1, 2, 4]) ? '6' : '4'  %}
          <div class="col-span-12 md:col-span-9 grid grid-cols-12">
            {% for link in menu %}
              <div class="col-span-12 md:col-span-{{menu_item_col_size}}">
                {% if link.url is empty %}
                  <span class="h5 block mb-4">{{ link.text }}</span>
                {% else %}
                  {% include '@components/links/link.twig' with link|merge({ modifier: 'font-bold no-underline hover:underline' }) %}
                {% endif %}
                {% if link.children %}
                  <ul class="menu flex flex-col gap-x-3 gap-y-3 list-none mb-3 md:mb-0">
                    {% for child_link in link.children %}
                      <li>
                        {% if child_link.url is empty %}
                          <span class="h5 block mb-4">{{ child_link.text }}</span>
                        {% else %}
                          {% include '@components/links/link.twig' with child_link|merge({ modifier: 'font-bold no-underline hover:underline' }) %}
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="l-footer-bottom py-6">
    <div class="container">
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-4">
          <p class="text-lg font-bold">&copy; Copyright {{ copyright_year | default(2025) }} {{ site_name | default }}</p>
        </div>
        <div class="col-span-12 md:col-span-8">
          <ul class="list-none flex flex-col flex-wrap md:flex-row gap-4 justify-end mb-2">
            {% for link in footer_links | default %}
              <li>
                {% include '@components/links/link.twig' with link|merge({ modifier: 'text-black font-semibold' }) %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include '@components/utils/back-to-top/back-to-top.twig' with {
    scroll_show: true
  } %}
</footer>
