{% extends '@wrappers/default.twig' %}
{% block top %}

{% endblock %}
{% block main %}
  {% if narrow_modules | default | length > 0 %}
    {% set content %}
      <div>
        {{ breadcrumbs }}
        <h1>{{ page_title }}</h1>
        {% if page_subheading | default %}
        <div>{{ page_subheading }}</div>
        {% endif %}
        <ul class="list-none">
          <li><a href="{{ page_author_url }}">{{ page_author }}</a></li>
          <li>{{ page_date }}</li>
        </ul>
      </div>
      {% for module in narrow_modules %}
        {% if module.module_type == 'wysiwyg' %}
          {{ module.wysiwyg }}
        {% elseif module.module_type == 'accordion' %}
          {% include '@components/modules/accordion/accordion-module.twig' with module only %}
        {% endif %}
      {% endfor %}
    {% endset %}
    {% if sidebar_modules | default | length > 0 %}
      {% set sidebar %}
        {% include '@components/sidebar/sidebar-news.twig' with page_sidebar %}

        {% for module in sidebar_modules %}
          {% if module.module_type == 'accordion' %}
            {% include '@components/modules/accordion/accordion-module.twig' with module only %}
          {% endif %}
        {% endfor %}
      {% endset %}
    {% endif %}
    {% embed '@components/sections/section.twig' with {
      padding: 'tight',
    } %}
      {% block section_content %}
        {% include '@layout/structure/content-with-sidebar.twig' %}
      {% endblock %}
    {% endembed %}
  {% endif %}

{% endblock %}
