{% if label | default %}
  <span class="text-sm uppercase text-neutrals-800 font-bold mb-3 block">{{ label }}</span>
{% endif %}

{% if badges %}
  <ul class="list-none flex gap-x-2 mb-3">
  {% for item in badges %}
    <li>
      {% include '@components/inline-text/badge/badge.twig' with item %}
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% set heading_level = heading.level | default ? heading.level : 3 %}

<h{{ heading_level }} class="card_title {{ heading.modifier | default }}">
  {% if heading.url | default %}
    <a class="{% if clickCard | default %}card_click {% endif %}{% if featured | default is empty %}text-black{% endif %}" href="{{ heading.url }}">
  {% endif %}
      {{ heading.text }}
  {% if heading.url | default %}
    </a>
  {% endif %}
</h{{ heading_level }}>

{% if summary | default %}
  <p class="card_summary mb-4 {{ summary_modifier | default }}">{{ summary }}</p>
{% endif %}

{% if button | default %}
  {% include '@components/links/button/button.twig' with {
    text: button.text,
    url: button.url
  } %}
{% endif %}

{% if link | default %}
  {% include '@components/links/read-more/read-more.twig' with {
    class: 'h4',
    text: link.text,
    url: link.url,
    target: link.target | default
  } %}
  {% if clickCard | default %}
    <a href="{{ link.url }}" class="card_click">{{ link.text }}</a>
  {% endif %}
{% endif %}
